header {
    font-family: 'Open Sans', 'sans-serif';
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10%;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    display: inline;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-width: 3px;
    border-style: groove;
    border-color: #abc4c4;
    width: 50%;

    margin:0;
    text-align: center;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: aqua;
}

nav ul li a:active {
    text-decoration: line-through;
    text-decoration-color: chartreuse;
}

nav ul li a:visited {
    text-decoration: overline;
    text-decoration-color: khaki;
}

ol {
    list-style-position: inside;
    padding-left: 0;
}

h1 {
   text-align: center;
}

h2 {
    text-align: center;
}

p {
  text-align: center;
}

pre {
    text-align: left;
}

main {
    display: block;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#MEOW {
    width: 73%;
    display: flex;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    background: #abc4c4;
    justify-content: center;
    text-align: left;
}

.video-gallery {
    width: 90%;
    overflow-x: scroll;
    white-space: nowrap;
    background: cadetblue;
    margin: 10px;
}


.video-item {
    width: 320px;
    height: 180px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    background: #abc4c4;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

.video-caption {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    width: 295px;
    margin-bottom: 0px;
    margin-top: 10px;
}

#pos {
    margin-right: 0,4%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#fixedElement {
    position: fixed;
    top: 30px;
    right: 10px;
    transform: translate(0, -50%);
    background-color: aliceblue;
    border: 1px solid #ccc;
    width: 100px;
    border-radius: 35%;
}

#processMap{
    float: left;
}

#title {
    width: 25%;
    height: 100%;
    background-color: #f0f0f0;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 20px 0;
    border: 1px solid #ccc;
}


section {
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

aside {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    height: 100px;
    z-index: 998;
}

#burger-toggle {
    display: none;
}

#burger {
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
    padding: 5px;
    padding-top: 20px;
    margin: 0 auto;
    z-index: 1800;
}

#burger span {
    background-color: #abc4c4;
    display: block;
    width: 100%;
    height: 3px;
    margin: 4px 0;
    transition: 0.4s;
}

/* Создание анимации при клике на бургер-кнопку */
#burger-toggle:checked + #burger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

#burger-toggle:checked + #burger span:nth-child(2) {
    opacity: 0;
}

#burger-toggle:checked + #burger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#burger {
    display: none; /* Показываем бургер-кнопку при медиа-запросе */
}

.submenu {
    display: none;
    background-color: transparent;
    opacity: 0;
    transition: opacity 1s;
}


@media (max-width: 768 px), (orientation: portrait)
{
    h2 {
        text-align: center;
        overflow-wrap: break-word;
    }
    pre {
        display: none;
    }

    #burger {
        display: block;
        position: fixed;
        top: 0;
    }

    nav ul {
        display: none; /* Скрываем стандартное меню при медиа-запросе */
    }

    .submenu {
        display: flex;
    }

    #burger-toggle:not(checked) + #burger + .submenu {
        width: 1px;
        height: 1px;
        opacity: 0;
        transition: opacity 0.5s;
        pointer-events: none;
    }

    #burger-toggle:checked + #burger + .submenu {
        position: fixed;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: darkseagreen;
        z-index: 1500;
        margin-top: 0;
        pointer-events: all;
    }


    #burger-toggle:checked + #burger + .submenu .sections{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 20vh;
    }


    #burger-toggle:checked + #burger + .submenu .sections li {
        margin: 10px 0;
        font-size: 18px;
    }

    #burger-toggle:checked + #burger + .submenu .sections a {
        text-decoration: none;
        color: #333;
        transition: color 0.3s ease;
    }

    #burger-toggle:checked + #burger + .submenu .sections a:hover {
        color: darkgreen;
        font-weight: bold;
    }

    aside {
        width: 73%;
        background-color: #f0f0f0;
        padding: 20px;
        margin: 20px 0;
        margin-top: 0;
        border: 1px solid #ccc;
    }
    #MEOW {
        margin-bottom: 0;
    }

    #pictures
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    figure {
        width: 90%;
    }

    #processMap {
        width: 90%;
    }

    #picture_in_article {
        width: 100%;
    }

    #title {
        width: 90%;
        height: 25%;
        background-color: #f0f0f0;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 20px 0;
        border: 1px solid #ccc;
    }

    article {
        display: flex;
        flex-direction: column;
    }
}